html {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0em;
  color: #000;
  position: relative;
  font-family: 'Montserrat-Regular';
  overflow-x: hidden;
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a,
a:hover {
  text-decoration: none !important;
}

a:hover {}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

:hover,
:focus {
  outline: none !important;
}

p:empty {
  display: none !important;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: 'utm';
  src: url(../fonts/UTM AvoBold.ttf);
}

iframe {
  width: 100% !important;
  max-width: 100% !important;
}

figure {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.container {
  max-width: 1200px;
  width: 100% !important;
  margin: 0px auto;
}

img {
  max-width: 100%;
  height: auto;
}


/* MENU MOBILE*/

.icon_mobile_click {
  margin: 0px;
  cursor: pointer;
  z-index: 99;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  max-width: 40px;
}

.icon_mobile_click i.fa {
  font-size: 30px;
  color: #a52626;
}

.middle_header {
  position: relative;
}

#page_wrapper {
  transition: all 0.3s;
}

#menu_mobile_full {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 260px;
  left: -260px;
  background-color: #a52626;
  -webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -o-transition: -o-transform .3s ease;
  transition: transform .3s ease;
  z-index: 9999999;
  border-right: 1px solid #fff;
  overflow: auto;
}

.fixedheader {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  z-index: 9;
  width: 100% !important;
}

.bg_opacity {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  z-index: 999999;
  display: none;
}

.menu_hidden {
  z-index: -1;
  left: -260px;
}

.menu_show {
  z-index: 9999999;
}

#menu_mobile_full .close_menu {
  padding: 10px;
  font-size: 20px;
  text-align: right;
  color: #fff;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  background: #a52626;
  display: none;
  cursor: pointer;
  top: 0px;
  border: 1px solid #fff;
  z-index: 999;
}

#menu_mobile_full .mobile-menu {
  margin: 55px 0px 0px 0px;
}

#menu_mobile_full ul li {
  width: 100%;
  display: block;
}

#menu_mobile_full .menu>li.active {
  padding: 15px 0px 10px 10px;
}

#menu_mobile_full ul li {
  position: relative;
  padding: 15px 0px 15px 10px;
  border-bottom: 1px solid #fff;
}

#menu_mobile_full ul li a {
  color: #fff;
  text-transform: uppercase;
}

#menu_mobile_full ul li a:hover {
  text-decoration: none;
  background: none;
}

#menu_mobile_full li span {
  margin: 0px 0px 0px 10px;
}

#menu_mobile_full .sub-menu {
  display: none;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #fff;
  margin: 10px 0px 0px 0px;
}

#menu_mobile_full .sub-menu li {
  padding: 15px 0px 15px 15px;
}

#menu_mobile_full .sub-menu li:last-child {
  border-bottom: none;
  padding: 15px 0px 0px 15px;
}

#menu_mobile_full .sub-menu li a {
  font-size: 14px;
  text-transform: none;
}

.editBefore_mobile::before {
  content: "-" !important;
}

#menu_mobile_full li.menu-item-has-children::before {
  content: "+";
  position: absolute;
  right: 10px;
  top: 15px;
  color: #fff;
}

#menu_mobile_full .menu>li.not-have-child {
  padding: 0px;
}

#menu_mobile_full .menu li ul.sub-menu li.not-have-child {
  padding: 0px;
  display: table;
}

#menu_mobile_full .menu li ul.sub-menu li.not-have-child>a {
  padding: 10px 0px 10px 15px;
  display: table;
  width: 100%;
}

#menu_mobile_full .menu li ul.sub-menu li.not-have-child:last-child>a {
  padding: 10px 0px 0px 15px;
}

#menu_mobile_full .menu>li.not-have-child>a {
  display: block;
  padding: 15px 0px 15px 10px;
}

#menu_mobile_full .sub-menu li {
  padding: 10px 0px 10px 15px;
}

#menu_mobile_full .sub-menu li:last-child {
  padding: 10px 0px 0px 15px;
}


/* END MENU MOBILE*/


/*CSS HEADER*/

.header {
  padding: 10px 0px;
  color: #333;
  line-height: 20px;
  -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.header .logo_site {
  float: left;
}

.header .ct_right_header {
  float: right;
}

.header .ct_right_header .tel_social_header {
  margin: 0px 0px 10px 0px;
  clear: both;
  float: right;
}

.tel_mail_header {
  float: left;
  text-align: right;
}

.tel_mail_header ul li {
  float: left;
}

.tel_mail_header ul>li:nth-child(1) {
  margin: 0px 2px 0px 0px;
}

.tel_mail_header ul>li:nth-child(1) a {
  font-weight: bold;
  color: #ff0000;
}

.tel_mail_header ul li a {
  color: #333;
}

.social_header {
  float: right;
  position: relative;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 20px;
}

.social_header:before {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  border-left: 1px dashed #333;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.social_header ul li {
  float: left;
  margin: 0px 0px 0px 15px;
}

.social_header ul>li:nth-child(1) {
  margin: 0px;
}

.social_header ul li i.fa {
  font-size: 16px;
  color: #999999;
}

.menu_header {
  clear: both;
}

.menu_header .qb_memu_header>li {
  float: left;
  position: relative;
}

.menu_header .qb_memu_header>li+li {
  margin: 0px 0px 0px 30px;
}

.menu_header .qb_memu_header>li>a {
  font-family: 'UTM Avo Bold', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  display: block;
  padding: 10px 5px;
  position: relative;
}

.menu_header .qb_memu_header>li>a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #683313;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.menu_header .qb_memu_header>li>a:hover:before {
  opacity: 1;
  visibility: visible;
}

.menu_header .qb_memu_header>li>ul.sub-menu {
  position: absolute;
  padding: 5px 0;
  background: rgba(255, 255, 255, .95);
  -webkit-box-shadow: 1px 1px 5px rgb(0 0 0 / 30%), -1px 1px 5px rgb(0 0 0 / 30%);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3), -1px 1px 5px rgba(0, 0, 0, .3);
  -ms-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3), -1px 1px 5px rgba(0, 0, 0, .3);
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3), -1px 1px 5px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 5px rgb(0 0 0 / 30%), -1px 1px 5px rgb(0 0 0 / 30%);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 220px;
  top: 45px;
  left: -60px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.menu_header .qb_memu_header>li:hover>ul.sub-menu {
  opacity: 1;
  visibility: visible;
}

.menu_header .qb_memu_header>li>ul.sub-menu:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #683313;
  top: -3px;
  left: 0px;
}

.menu_header .qb_memu_header>li>ul.sub-menu>li>a {
  display: block;
  position: relative;
  padding: 10px 10px 10px 20px;
  color: #999;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px dotted #c8c8c8;
  background: #f9fbfd;
}

.menu_header .qb_memu_header>li>ul.sub-menu>li:hover>a {
  color: #683313;
}

/*END CSS HEADER*/
/*CSS CONTENT*/
.intro_homepage{
  padding: 25px 0px;
}
.intro_homepage .title_homepage    .textwidget p{
font-size: 18px;
font-weight: 700;
}
.title_homepage    .widget-title{
  font-size: 30px;
  line-height: 30px;
  color: #d6483c;
  font-weight: 900;
  font-family: 'utm';
  margin: 0px 0px 10px 0px;
}
.intro_homepage .title_homepage    .textwidget .btn{
  background: #3f7e2f;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  margin: 20px 0px 0px 0px;
}
.qb_news_hp .ct_left .wrap_figure{
    margin: 0 0 10px 0;
    padding: 3px;
    background: #fff;
    border: 1px solid #c8c8c8;
}
.qb_news_hp .ct_left .wrap_figure figure{
height: 205px;
}
.qb_news_hp .ct_left  h4{
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 20px;
}
.qb_news_hp .ct_left h4 a{
  color: #f27328;
}
.qb_news_hp .ct_right ul li{margin: 0px 0px 7px 0px;border-bottom: 1px dotted #999;padding: 0px 0px 7px 0px;}
.qb_news_hp .ct_right ul>li:last-child{
  border: none;
  padding: 0px;
}
.qb_news_hp .ct_right ul li h4{
margin: 0 0 3px 0;
    font-size: 14px;
    line-height: 20px;
}
.qb_news_hp .ct_right ul li h4 a{
color: #333;
}
.qb_news_hp .ct_right ul li .qb_date_post{
font-size: 13px;
    color: #999;
}
.content_single_post .single_post_info h2{
  color: #d74c40;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
  text-transform: uppercase;
}
.title_defauilt{
      position: relative;
      padding-bottom: 20px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      color: #d6483c;
      margin: 30px 0px 30px 0px;
}
.title_defauilt:before{
  position: absolute;
  content: "";
  width: 265px;
  height: 1px;
  background: #39722a;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px auto;
}
.title_defauilt:after{
position: absolute;
content: "";
    width: 51px;
    height: 8px;
    background: #fff url(../images/heading-icon.png) 4px 0% no-repeat;
    bottom: -3px;
    padding: 0 10px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 5;
}
.related_posts ul li{

}
.related_posts  ul li h4{
margin: 0px 0px 10px 0px;
}
.related_posts ul li h4 a{
position: relative;
    color: #000;
    font-size: 14px;
    display: block;
    padding: 0px 0px 0px 20px;
    line-height: 22px;
}
.related_posts ul li h4 a:before{
  position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #39722a;
    top: 8px;
    left: 0px;
}
.related_posts ul li h4 a:hover{
  color: #39722a;
}
/*END CSS CONTENT*/
/*FOOTER*/
.top_footer {
  background: url(../images/top-footer-bg.png) repeat;
  padding: 40px 0px;
}
.top_footer .widget-title{
    font-family: 'UTM Avo Bold', sans-serif;
    font-size: 16px;
    color: #d74c40;
    text-transform: uppercase;
    padding: 5px 0px;
    margin: 0px 0px 10px 0px;
    position: relative;
    font-weight: 700;
}
.top_footer .widget-title:before{
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background: #f47920;
  bottom: 0px;
  left: 0px;
  font-weight: 700;
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(1) .textwidget ul li{padding: 0px 0px 0px 16px;position: relative;line-height: 30px;max-width: 250px;
    width: 100%;}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(1) .textwidget ul li:before{
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 12px;
  color: #39722a;
  top: 9px;
  left: 0px;
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(1) .textwidget ul>li:nth-child(1):before{
content: "\f041";
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(1) .textwidget ul>li:nth-child(2):before{
content: "\f095";
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(1) .textwidget ul>li:nth-child(3):before{
content: "\f0e0";
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(1) .textwidget ul>li:nth-child(4):before{
content: "\f0ac";
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(1) .textwidget ul li em{
  display: block;
  font-style: normal;
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(2)  ul li{
  font-weight: 700;
  line-height: 30px;
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(2)  ul li a{
  color: #333;
}
.top_footer .top_footer_ct>.panel-grid-cell:nth-child(3)  ul li{
  margin: 10px 0px 0px 15px;
  float: left;
}
.bottom_footer{
      background: #39722a;
    color: #fff;
    padding: 15px 0;
}
.bottom_footer .textwidget p{
  margin: 0px;
}
/*END  CSS FOOTER*/
/*CSS BREADCRUMB*/
.breadcrumb{
  background: url(../images/breadcrumb.png) center center no-repeat;
    height: 200px;
    padding: 30px 0;
    background-size: cover;
    position: relative;
}
.breadcrumb  .breadcrumb_ct{
  
margin: 40px 0px 0px 0px;
}
.breadcrumb .breadcrumb_ct h2{
      font-size: 24px;
    color: #000;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}
.breadcrumb .breadcrumb_ct span{

}
.breadcrumb  .br_home:before{
content:"\f015";
font: normal normal normal 14px/1 FontAwesome;
color: #000;
font-size: 14px;
margin: 0px 5px 0px 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.breadcrumb  .br_home:hover:before{
    color:#d51c24;
}
.breadcrumb .breadcrumb_ct a{
      color: #000;
    font-weight: bold;
}
.breadcrumb .breadcrumb_ct a:hover{
  color:#d51c24;
}
.breadcrumb .breadcrumb_ct a:after{
  content: "\f101";
  font: normal normal normal 14px/1 FontAwesome;
  color: #000;
  font-size: 14px;
  margin: 0px 7px;
}
/*END CSS BREADCRUMB*/
/*CSS SIDEBAR*/
.menu-menu-sidebar-product-container ul li{
position: relative;
    padding: 12px 15px 12px 35px;
    border-bottom: 1px solid #fff;
    background: #478337;
}
.menu-menu-sidebar-product-container ul>li:nth-child(1){
    background: linear-gradient(to bottom, #39722a 0%, #39722a 100%);
    background: -webkit-linear-gradient(to bottom, #39722a 0%, #39722a 100%);
    background: -moz-linear-gradient(to bottom, #39722a 0%, #39722a 100%);
    background: -o-linear-gradient(to bottom, #39722a 0%, #39722a 100%);
    padding: 15px;
}
.menu-menu-sidebar-product-container ul>li:last-child{
  border:none;
}
.menu-menu-sidebar-product-container ul>li:nth-child(1) a:after{
  display: none;
}
.menu-menu-sidebar-product-container ul>li:nth-child(1) a{
  font-weight: 700;
  text-transform: uppercase;
}
.menu-menu-sidebar-product-container  ul li a:after{
  position: absolute;
  content:'\f058';
  font: normal normal normal 14px/1 FontAwesome;
  top: 2px;
  left: -23px;
  color: #fff;
  font-size: 16px;
}
.menu-menu-sidebar-product-container  ul li a{font-size: 16px;display: block;color: #fff;position:relative;}
.qb_sidebar_news{

margin: 40px 0px 0px 0px;
}
.qb_sidebar_news .title_news{

border-bottom: 2px solid #39722a;

display: table;

padding: 0px 0px 5px 0px;

font-size: 16px;

margin: 0px 0px 15px 0px;

font-weight: 700;

text-transform: uppercase;
}
.qb_sidebar_news .title_news a{
  color:#000;
}
.qb_sidebar_news .sidebar_news_ct{

}
.qb_sidebar_news .sidebar_news_ct h4{

margin: 0px 0px 10px 0px;
}
.qb_sidebar_news .sidebar_news_ct h4 a{

position: relative;

color: #000;

font-size: 14px;

display: block;

padding: 0px 0px 0px 20px;

line-height: 22px;
}
.qb_sidebar_news .sidebar_news_ct h4 a:after{
  position:absolute;
  content:"";
  width:5px;
  height:5px;
  background: #39722a;
  top: 8px;
  left:0px;
}
.qb_sidebar_news .sidebar_news_ct h4 a:hover{
  color: #d6483c;
}
/*END CSS SIDEBAR*/
/*CSS SLIDE*/
.banner_home ul li figure{
  height: 490px;
  margin: 0px;
}
.banner_home .slick-prev:before,
.banner_home .slick-next:before{
  opacity: 0;
  visibility: hidden;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.banner_home:hover .slick-prev:before,
.banner_home:hover .slick-next:before{
opacity: 1;
visibility: visible;
}
.banner_home .slick-dots{
    left: 0px;
    right: 0px;
    bottom: 40px;
}
.banner_home .slick-dots li button{
  background:  rgba(255, 255, 255, .7) !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    opacity: 0.5;
        -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.banner_home .slick-dots li button:hover, .banner_home .slick-dots li.slick-active button{
    background: #ff0000 !important;
    width: 12px !important;
}
.banner_home .slick-dots button:before{
content: "";
}
/*END CSS SLIDE*/

/* BUTTON SLIDE */

.slick-slider {
        margin: 0px !important;
}

.slick-prev:before,
.slick-next:before {
        font: normal normal normal 14px/1 FontAwesome !important;
        font-size: 60px !important;
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px !important;
        color: rgba(255, 255, 255, .7) !important;
        background: transparent;
        border-radius: 0px;

}
.slick-prev:before{
        content: "\f104" !important;
}
.slick-next:before{
          content: "\f105" !important;
}
.slick-prev,
.slick-next{
          top: 50%;
          margin-top: -30px;
          width: 60px;
          height: 60px;
}
.slick-prev {
        left: 20px !important;

}

.slick-next {
        right: 20px !important;
}

.slick-prev:hover::before,
.slick-next:hover::before {
        color: rgba(255, 255, 255, .9) !important;
}

.slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0px;
        list-style-type: none;
        bottom: 25px;
}

.slick-dots li {
        margin: 0px 3px;
        width: initial;
        height: initial;
}

.slick-dots button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: blue;
        text-indent: -9999px;
        width: 20px !important;
        height: 4px !important;
        padding: 0px !important;
        background: #fff !important;
}

.slick-dots li.slick-active button {
        background-color: #38c1cb !important;
        width: 35px !important;
}

